<video autoplay="true" preload="auto" loop="" id="background-video">
  <source src="https://s3-us-west-2.amazonaws.com/gafrongapp/recordplaying.mp4" type="video/mp4">
</video>

<section class="center bg-dark welcome-box">
  <br><br>
  <h3>See you soon.</h3>
</section>
