#logo {
  margin: 20px;
}

#logo:hover {
  -webkit-transform : rotate(1800deg);
  -moz-tranform     : rotate(1800deg);
  -ms-transform     : rotate(1800deg);
  transform         : rotate(1800deg);
  -webkit-transition: all 3s ease-in-out;
  -moz-transition   : all 3s ease-in-out;
  transition        : all 3s ease-in-out;
}
.bg-dark {
  background-color: rgba(1,1,1,0.7);
  min-height: 200px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;  
}
.bg-dark:hover {
  background-color: rgba(1,1,1,1);
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
.welcome-box {
  margin-top: 7em;
  max-width: 35em;
  padding: 2em;
}
.right {
  text-align: right;
  margin-right: 1em;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  text-shadow: 1px 1px 1px #111;
}

#gafrong-word {
  margin-top: 36px;
  position  : absolute;
  width     : 150px;
  margin-left: -10px;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;  
  -moz-transition: margin-left 0.5s;
}
.branding:hover #gafrong-word {
    margin-left: 2%;
    transition: margin-left 2.5s;
    -webkit-transition: margin-left 2.5s;
    -moz-transition: margin-left 2.5s;
  }

#background-video {
  position  : fixed;
  right     : 0; 
  bottom    : 0;
  min-width : 100%; 
  min-height: 100%;
  width     : auto; 
  height    : auto; 
  z-index   : -100;
  background-size: cover;
}

#submit-email {
  background-color: #18d2e2;
  color: #fff;
}
#submit-email:hover {
  background-color: #5093b8;
}

/*Media Queries*/
@media screen and (min-width: 980px) /* Desktop */ {

}
 
@media screen  and (max-width: 979px) /* Tablet */ {

}
 
@media screen and (max-width: 520px) /* Mobile */ {
  .welcome-box {
    margin-left: 1em;
    margin-right: 1em;
  }   
}
